@import "../../../sass/all";
.wrap-actions-img {
    min-height: 100vh;

    .row {
        --bs-gutter-x: 0;
    }
    .wrap-img {
        display: flex;
        margin: 50px;
        & > img {
            margin: 0 auto;
            width: 100%;
        }
        @include respond-to(medium) {
            padding-left: 100px;
        }
    }

    .burger-btn {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .url-img {
        text-align: center;
        color: #fff;
        font-weight: 100;
        font-size: 12px;
        @include respond-to(medium) {
            font-size: 1rem;
        }
    }
}
