@import "../../../sass/all";
.wrap-actions-img {
    .row {
        --bs-gutter-x: 0;
    }
    .wrap-img {
        width: 90%;
        display: flex;
        //height: auto;
        margin: 20px auto;
        & > img {
            margin: 0 auto;
            width: 100%;
        }
    }
    .url-img {
        text-align: center;
        color: #fff;
        font-weight: 100;
    }
   
}
