// Mobile first Methodology
// Extra Small Less 576px

$competitive-sm: 576px; // Breakpoint for smartphone
$competitive-md: 768px; // Breakpoint for tablet 
$competitive-lg: 992px; // Breakpoint for desktop
$competitive-elg: 1200px; // Breakpoint for desktop