@import "../../../../sass//all";
.wrap-from {
    color: seashell;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    .dropdown {
        text-align: center;
        option {
            cursor: pointer;
        }
        .dropdown-toggle {
            background-color: #f97641;
            cursor: pointer;
            border-color: #f97641;
            color: #fff;
            font-weight: 100;
            &:hover {
                background-color: #d25135;
            }
        }
    }
    .form-group {
        position: relative;
        text-align: center;
        margin-top: 60px;
        font-weight: 100;
        .form-label {
            padding-right: 20px;
        }
        .form-control-range {
            width: 60%;
            height: 2px;
            cursor: pointer;
        }
        .minimo,
        .maximo {
            position: absolute;
        }
        .minimo {
            left: 20%;
            @include respond-to(medium) {
                left: 14%;
            }
        }
        .maximo {
            right: 10%;
            @include respond-to(medium) {
                left: 94%;
            }
        }
    }
    @include respond-to(medium) {
        font-size: 1rem;
    }
}
