.wrap-history {
    position: relative;
    margin: 50px 0;
    .row-prev {
        .btn {
            color: #fff;
            background-color:#f97641;
            border: #f97641;
            font-weight: 100;
            padding: 0 10px;
            margin-left: 50px;
            i {
                padding-right: 10px;
            }
            &:focus {
                box-shadow: none;
            }
            &:hover{
                background-color: #D25135;
            }
        }
    }
    .download {
        color: #fff;
        background-color:#f97641;
        border: #f97641;
        font-weight: 100;
        padding: 0 10px;
        position: absolute;
        bottom: 2px;
        right: 50px;
        &:hover{
            background-color: #D25135;
        }
    }
}
